@{
    var eventList = ViewBag.filteredEvents as List<Event>;
    var listComuni = ViewBag.listComuni as List<string>;

    int pageSize = 9;
    int pageNumber = ViewBag.pageNumber ?? 1;
    int totalPages = eventList != null ? (int)Math.Ceiling((double)ViewBag.nEvent / pageSize) : 0;
    var paginatedResults = eventList != null ? eventList.Skip((pageNumber - 1) * pageSize).Take(pageSize).ToList() : new List<Event>();

}

<style>
    .custom-purple-btn {
    color: mediumpurple;
    border-color: mediumpurple;
    transition: background-color 0.3s, color 0.3s;
}

.custom-purple-btn:hover {
    background-color: mediumpurple;
    color: white
}
</style>


<div class="d-flex flex-column align-items-center justify-content-center">
    <div class="row w-100">

        @* Sezione eventi *@
        <div class="col-8 mt-4">
            <div class="card mt-2" style="min-height:51.5rem; max-height:51.5rem">
                <div class="card-header" style="min-height:63px; max-height:63px">
                    <!-- Barra di ricerca eventi -->
                    <div class="row mt-1">
                        <form class="d-flex align-items-center w-100" id="searchForm" asp-controller="Event" asp-action="Index" method="get">
                            <input id="searchBar" class="form-control form-control-md" type="text" name="searchQuery" style="margin-right: 2px;" placeholder="Cerca evento" value="@ViewBag.searchQuery" aria-label="Cerca evento" />
                            <input type="hidden" name="selectedComune" value="@ViewBag.selectedComune" />
                            <input type="hidden" name="filterComune" value="@ViewBag.filterComune" />
                            <button class="btn" style="background-color: mediumpurple; color:white; margin-left: 2px;" type="submit">Cerca</button>
                        </form>
                    </div>
                </div>

                <div class="card-body" style="min-height:41rem">
                    <!-- Griglia eventi filtrati -->
                    
                    @if (paginatedResults.Any())
                    {
                        <div class="row row-cols-3 g-4">
                            @foreach(var evento in paginatedResults)
                            {
                                <div class="col">
                                    <div class="card position-relative" style="width: 15.7rem; height:12rem">
                                        <div class="card-body" style="height:100%">
                                            <h6 class="card-title fw-bold" style="color:mediumpurple">@evento.NomeEvento</h6>
                                            <h6 class="card-subtitle mb-2 text-body-secondary">Ediz. @evento.Edizione</h6>
                                            <p class="card-text">Inizio: @evento.DataInizio.Value.ToString("dd/MM/yyyy") <br /> 
                                                Fine: @evento.DataFine.Value.ToString("dd/MM/yyyy")</p>

                                            <div>
                                                <a href="https://www.google.com/maps/search/?q=@evento.Toponimo+@evento.Indirizzo,+@evento.Comune" target="_blank" class="btn btn-outline rounded-circle p-2 lh-1 position-absolute custom-purple-btn" style="bottom: 10px; right: 10px;">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                                        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    } else
                    {
                        <h5 class="position-absolute top-50 start-50 translate-middle" style="color:red">Nessun evento trovato!</h5>
                    }
                    
                </div>

                <hr />

                @* Paginazione *@
                @if(!(totalPages < 1) && paginatedResults.Any())
                {
                    int blockSize = 3;
                    int halfBlock = blockSize / 2;
                    var startPage =  Math.Max(1, pageNumber - halfBlock);
                    var endPage = Math.Min(totalPages, startPage + blockSize - 1);

                    if (endPage - startPage + 1 < blockSize) {
                        startPage = Math.Max(1, endPage - blockSize + 1);
                    }

                    <nav class="mt-2" aria-label="Page navigation">
                        <ul class="pagination justify-content-center mb-4">
                            <!-- Pulsante prima pagina -->
                            <li class="page-item @(pageNumber == 1 ? "disabled" : "")">
                                <a class="page-link" href="?pageNumber=1&searchQuery=@ViewBag.searchQuery&filterComune=@ViewBag.filterComune&selectedComune=@ViewBag.selectedComune">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                                        <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                                    </svg>
                                </a>
                            </li>

                            <!-- Pulsante pagina precedente -->
                            <li class="page-item @(pageNumber == 1 ? "disabled" : "")">
                                <a class="page-link" href="?pageNumber=@(pageNumber - 1)&searchQuery=@ViewBag.searchQuery&filterComune=@ViewBag.filterComune&selectedComune=@ViewBag.selectedComune">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                                    </svg>
                                </a>
                            </li>

                            <!-- Blocchi da 3 pagine -->
                            @for(int i = startPage; i <= endPage; i++)
                            {
                                @if(eventList.Skip((i - 1) * pageSize).Take(pageSize).Any())
                                {
                                    <li class="page-item @(i == pageNumber ? "active" : "")">
                                        <a class="page-link" href="?pageNumber=@i&searchQuery=@ViewBag.searchQuery&filterComune=@ViewBag.filterComune&selectedComune=@ViewBag.selectedComune">
                                            @i
                                        </a>
                                    </li>
                                }

                            }

                            <!-- Pulsante pagina successiva -->
                            <li class="page-item @(pageNumber == totalPages ? "disabled" : "")">
                                <a class="page-link" href="?pageNumber=@(pageNumber + 1)&searchQuery=@ViewBag.searchQuery&filterComune=@ViewBag.filterComune&selectedComune=@ViewBag.selectedComune">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                                    </svg>
                                </a>
                            </lI>

                            <!-- Pulsante ultima pagina -->
                            <li class="page-item @(pageNumber == totalPages ? "disabled" : "")">
                                <a class="page-link" href="?pageNumber=@totalPages&searchQuery=@ViewBag.searchQuery&filterComune=@ViewBag.filterComune&selectedComune=@ViewBag.selectedComune">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708"/>
                                        <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708"/>
                                    </svg>
                                </a>
                            </lI>
                        </ul>
                    </nav>
                }


            </div>
        </div>

        

        @* Sezione comuni *@
        <div class="col mt-4">

            <div class="card mt-2" style="min-height:51.5rem; max-height:51.5rem">
                <div class="card-header">
                    <h2>Comuni</h2>
                </div>
                <div class="card-body d-flex flex-column" style="min-height:41rem">

                    <!-- Barra di ricerca comuni -->
                    <form class="d-flex" id="searchFormComune" asp-controller="Event" asp-action="Index" method="get">
                        <input class="form-control" type="text" name="filterComune" placeholder="Cerca comune" value="@ViewBag.filterComune" aria-label="Cerca comune" style="margin-right: 2px;"/>
                        <input type="hidden" name="selectedComune" value="@ViewBag.selectedComune" />
                        <input type="hidden" name="searchQuery" value="@ViewBag.searchQuery" />

                        <button class="btn" style="background-color: mediumpurple; color:white; margin-left: 2px;" type="submit">Filtra</button>
                    </form>

                    @if(!string.IsNullOrWhiteSpace(ViewBag.selectedComune))
                    {
                        <form class="d-flex" asp-controller="Event" asp-action="Index" method="get">
                            
                            <div class="mt-4">
                                <h5>Hai selezionato il comune: <br /> </h5>
                                <h8>@ViewBag.selectedComune</h8>
                            </div>

                            <div class="mt-4 ms-auto">
                                <form asp-controller="Event" asp-action="Index" method="get">
                                    <input type="hidden" name="selectedComune" value="" />
                                    <input type="hidden" name="searchQuery" value="@ViewBag.searchQuery" />
                                    <input type="hidden" name="filterComune" value="@ViewBag.filterComune" />
                                    <button type="submit" class="btn-close" aria-label="Close"></button>
                                </form>
                            </div>
                        </form>
                    }


                    <div class="flex-grow-1 overflow-auto mt-4">
                        <div class="d-flex flex-column gap-2">
                            @if (listComuni != null && listComuni.Any())
                            {
                                @foreach (var comune in listComuni)
                                {
                                    <form method="get" asp-controller="Event" asp-action="Index">
                                        <input type="hidden" name="selectedComune" value="@comune" />
                                        <input type="hidden" name="searchQuery" value="@ViewBag.searchQuery" />
                                        <input type="hidden" name="filterComune" value="@ViewBag.filterComune" />
                                        
                                        @if(comune == ViewBag.selectedComune)
                                        {
                                            <button type="submit" class="btn btn-primary w-100 text-start disabled" style="background-color:mediumpurple; border-color:mediumpurple">
                                                @comune
                                            </button>
                                        } else
                                        {
                                            <button type="submit" class="btn w-100 text-start custom-purple-btn">
                                                @comune
                                            </button>
                                        }
                                    </form>
                                } 
                            } else {
                                    <p style="color:red"> Nessun comune trovato! </p>
                                }
                        </div>
                    </div>      
                    
                </div>
                
            </div>            
        </div>
    </div>
</div>
